version: '3.8'

services:
  etl:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: etl-pipeline
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    working_dir: /app
    command: python -m app.main
